<main class="flex-shrink-0">
    <div class="container col-xxl-8">
        <div class="row row-cols-1 row-cols-md-2 h-100">
            <div class="col order-last order-md-first">
                <h1 class="display-5 fw-bold lh-1 mb-3">
                    APP NAME: A Coding Project
                </h1>
                <h4 class="lead">
                    Insert a description for the specific project here!<br />
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam
                    animi molestiae tenetur, officiis magni veniam quas nihil
                    veritatis, aut nulla numquam ipsum perspiciatis ratione repellat
                    sapiente sed, suscipit tempore voluptatibus qui. Dolores cum
                    assumenda officiis quibusdam, ut autem quia similique ipsam
                    doloremque pariatur vel excepturi iusto! Aliquam reprehenderit
                    culpa veritatis.
                </h4>
                <ul class="fa-ul pt-2 checklist">
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>CSS and Bootstrap Layout
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>JavaScript Fundamentals
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>JavaScript Loops
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>JavaScript Functions
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>JavaScript DOM Manipulation
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>JavaScript if/else
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>JavaScript Boolean Logic
                    </li>
                </ul>
                <div>
                    <a type="button" asp-area="" asp-controller="Home" asp-action="App"
                       class="btn btn-outline-success btn-lg">Try it out!</a>
                </div>
                <h5 clss="fw-bold">
                    <div class="d-flex mt-5">
                        <div class="row">
                            <div class="col techStack">
                                <img class="techLogos" src="~/img/CsharpLogo.svg" />
                            </div>
                            <div class="col techStack">
                                <img class="techLogos" src="~/img/JavaScriptLogo.svg" />
                            </div>
                            <div class="col techStack">
                                <img class="techLogos" src="~/img/BootstrapLogo.svg" />
                            </div>
                            <div class="col techStack">
                                <img class="techLogos" src="~/img/HTML5Logo.svg" />
                            </div>
                            <div class="col techStack">
                                <img class="techLogos" src="~/img/CSS3Logo.svg" />
                            </div>
                        </div>
                    </div>
                </h5>
            </div>
            <div class="col">
                <img src="img/Benjamins-logo.png"
                     alt="Benjamins Logo"
                     class="img-fluid center-block d-block m-auto" />
            </div>
        </div>
    </div>
</main>